<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
  {% capture url %}{{ page.url | remove:'index.html' }}{% endcapture %}
	<button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
            <li><a href="{{ site.url }}{{ link.url }}" {% if url == link.url %}class="top-navigation-current"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

<!-- Lastly modified by Hanlin CAI in 2023/05/01 -->
